*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#239688 15%, #DCDBD2 15%, #C5CCCC 70%);
}

.contenitore{
    height: 95%;
    width: 80%;
    min-width: 700px;
    background-color: pink;
}

.colonna-sinistra{
    float: left;
    height: 100%;
    width: 35%;
    background-color:#FAFAF9 ;
}

.colonna-destra{
    float: left;
    height: 100%;
    width: 65%;
    background-color:darkmagenta;
}

.profilo-utente, .destinatario{
    height: 70px;
    width: 100%;
    background-color: #E9EAEB;
}

.destinatario{
    border-left: 1px solid #DBDCDC;
}

.notifiche{
    height: 75px;
    width: 100%;
    background-color: #8EDAFC;
}

.ricerca{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
    width: 97%;
    background-color:white;
    margin: 5px auto;
    border: 1px solid #F5F5F5;
}

.fa-search{
    color: #B3B7B9;
}

.ricerca input{
    width: 85%;
    margin-left: 20px;
    height: 80%;
    color: #B3B7B9;
    border: none;
}

.chat{
    width: 100%;
    height: calc(100% - 140px);
    background-image: url('../img/mine.jpg');
}

.messaggio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color:#F2EDE8;
}

.fa-smile, .fa-microphone{
    font-size: 20px;
    margin: 0px 30px;
    color: #545F65;
}

.messaggio input{
    width: 80%;
    height: 65%;
    color: #C2C3C4;
    background-color: white;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
}

