*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#239688 15%, #DCDBD2 15%, #C5CCCC 70%);
}

.contenitore{
    height: 95%;
    width: 80%;
    min-width: 700px;
    background-color: pink;
}

.colonna-sinistra{
    float: left;
    height: 100%;
    width: 35%;
    background-color:darkorange ;
}

.colonna-destra{
    float: left;
    height: 100%;
    width: 65%;
    background-color:darkmagenta;
}

.profilo-utente, .destinatario{
    height: 70px;
    width: 100%;
    background-color: blue;
}

.destinatario{
    background-color:darkolivegreen;
    border-left: 1px solid black;
}

.notifiche{
    height: 75px;
    width: 100%;
    background-color: beige;
}

.ricerca{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    background-color:darkturquoise;
    margin-top: 5px;
}

.ricerca input{
    width: 85%;
    height: 80%;
}

.chat{
    width: 100%;
    height: calc(100% - 140px);
    background-color: dimgray;
}

.messaggio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color:gold;
}

.messaggio input{
    width: 80%;
    height: 80%;
    background-color: beige;
}